!!!
%html
  %head
    %title Romney Blackmail Status
    %link{ :href => "bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{ :href => "style.css" }
  %body
    .container
      .row
        .span9
          %table#graph
            %tbody
              %tr
                %td
                  #prevent
              %tr
                %td
                  #release
    %script{ :src => "http://code.jquery.com/jquery-latest.js"}
    %script{ :src => "bootstrap/js/bootstrap.min.js"}
    %script{ :src => "poll.js" }
